.gamehud-root {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.center-text {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: Poppins;
	font-size: 166px;
	font-weight: 3300;

	color: white;
	text-align: center;

	text-shadow: 0px 4px 16px rgba(255, 0, 0, 0.6);
}



/* ─────────────────────────────────────────────
   Liste joueurs (milieu gauche)
   ───────────────────────────────────────────── */
.players-list {
	position: absolute;
	left: 24px;
	top: 50%;
	transform: translateY(-50%);

	display: flex;
	flex-direction: column;
	gap: 8px;

	padding: 12px 14px; /* espace interne pour le fond */
	font-family: Poppins;
	font-size: 22px;
	font-weight: 700;
}

.players-list-bg {
	position: absolute;

	background-color: rgba(0, 120, 255, 0.28);
	border-radius: 10px;

	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.55);
	/* backdrop-filter: blur(4px); */
}
.players-list-content {
	display: flex;
	flex-direction: column;
	//gap: 8px;
}

.player-name {
	color: rgb(255, 255, 255);

	background-color: rgba(0, 120, 255, 0.28);
	border-radius: 10px;

	text-shadow: 0px 2px 8px rgba(255, 249, 249, 0.55);
}

/* Joueur mort : gris + barré */
.player-name.dead {
	color: rgba(255, 0, 0, 0.45);
	text-decoration-line: line-through;
	//background-color: rgba(0, 120, 255, 0.12);
}

.ball-indicator {
	position: absolute;
	pointer-events: none;

	font-family: Poppins;
	font-size: 42px;
	font-weight: 900;

	color: white;
	text-shadow: 0px 2px 10px rgba(0,0,0,0.75);

	/* visible même sur fond clair */
	//text-stroke: 2px rgba(0,0,0,0.7);
}


